@using System.Collections.Generic
@using Chords.Android.Models
@using Chords.Core.Extensions
@inherits PortableRazor.ViewBase
@model FavoriteChordsModel
<!DOCTYPE html>
<html>
<head>
    <!--link rel="stylesheet" href="jquery.mobile-1.4.5.min.css" /-->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Favourite chords</span>
            </div>
                
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="hybrid:ShowChord">Show chord chart</a></li>
                    <li><a href="hybrid:FindChord">Find chord name</a></li>
                    <li><a href="hybrid:FavoriteChords">Favourite chords</a></li>
                    <li><a href="hybrid:Circle">Circle of fifths</a></li>
                    <li><a href="hybrid:Settings">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="jquery.min.js"></script>
    <script src="jquery.mobile-1.4.5.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-content">

        <!-- Main content start -->
        <div id="layouts" class="animate-bottom">
		@if (Model.Chords.Any())
		{
	        foreach(var kvp in Model.Chords)
	        {
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                <h2>@kvp.Key.Symbols[0]</h2>

	                @foreach(var layout in kvp.Value)
	                {
	                    var positions = string.Join(",", layout.IntPositions.Select(i => i.ToString()).ToArray());

	                    <div class="chord-layout" data-root="@(kvp.Key.Root.ToString(Model.conv))" data-chordtype="@(kvp.Key.ChordType.ToDescription())" data-favorite="@(layout.Favorite)" data-positions="@positions" onclick="playChord('@positions');">
	                        @(layout.Schema)
	                    </div>
	                }
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				    <hr />
				</div>
	        }
		}
		else
		{
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="text-align: center;">
				You have no favourite chord layouts. <br />
				Tap and hold a chord layout to add it to favourites.  
			</div>
		}
        </div>
        <script type="text/javascript">
            $('#loader').hide();
            $('#layouts').show();
            function playChord(positions) {
                $.ajax({
                    url: 'hybrid:PlayChord',
                    type: 'get',
                    data: {
                        positions: positions
                    }
                });
            }
            function setFavorite(selector, value) {
                $(selector).attr('data-favorite', value);
            }
            $(function(){
			    $('.ui-loader').hide();
                $.event.special.tap.tapholdThreshold = 300;
                $.event.special.tap.emitTapOnTaphold = false;
                $('.chord-layout').bind('taphold', function(){				    
				    var root = $(this).attr('data-root');
				    var type = $(this).attr('data-chordtype');
                    var positions = $(this).attr('data-positions');
                    var favorite = $(this).attr('data-favorite') == "True";

                    $.ajax({
                        url: favorite ? 'hybrid:RemoveFromFavorites' : 'hybrid:AddToFavorites',
                        type: 'get',
                        data: {
                            root: root,
                            type: type,
                            conv: '@Model.conv',
                            positions: positions
                        }
                    });
                });
            });
        </script>			
        <!-- Main content end -->   

    </div>
    <hr />
    <footer>
        <p>&copy; 2017 - Tomáš Němec</p>
    </footer>
</body>
</html>

