﻿@inherits PortableRazor.ViewBase
@using System.Text.RegularExpressions
@using PortableRazor.Web.Mvc
@using Chords.Core.Extensions
@model Chords.Android.Models.FindChordModel
@{
    var notes = Model.SelectedNotes != null ? string.Join(",", Model.SelectedNotes) : string.Empty;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="bootstrap.min.css" />
	<link rel="stylesheet" href="bootstrap-toggle.min.css" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Find chord name</span>
            </div>
                
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="hybrid:ShowChord">Show chord chart</a></li>
                    <li><a href="hybrid:FindChord">Find chord name</a></li>
                    <li><a href="hybrid:FavoriteChords">Favourite chords</a></li>
                    <li><a href="hybrid:Circle">Circle of fifths</a></li>
                    <li><a href="hybrid:Settings">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
	<script src="bootstrap-toggle.min.js"></script>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-content">

		<!-- Main content start -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-strict-collapse">
                        <span class="sr-only">Toggle mode</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					@if (Model.Strict)
					{
                        <span class="navbar-brand" id="navbar-strict">Strict mode (@Model.Notes[1].ToString(Model.conv)<sub>#</sub> ≠ @Model.Notes[4].ToString(Model.conv)<sub>b</sub>)</span>
					}
					else
					{
                        <span class="navbar-brand" id="navbar-strict">Loose mode (@Model.Notes[1].ToString(Model.conv)<sub>#</sub> = @Model.Notes[4].ToString(Model.conv)<sub>b</sub>)</span>
					}
                </div>
                    
                <div class="navbar-strict-collapse collapse">
                    <ul class="nav navbar-nav">
						<li><a href="hybrid:FindChord?conv=@Model.conv&strict=true&note=@notes">Strict mode (@Model.Notes[1].ToString(Model.conv)<sub>#</sub> ≠ @Model.Notes[4].ToString(Model.conv)<sub>b</sub>)</a></li>
                        <li><a href="hybrid:FindChord?conv=@Model.conv&strict=false&note=@notes">Loose mode (@Model.Notes[1].ToString(Model.conv)<sub>#</sub> = @Model.Notes[4].ToString(Model.conv)<sub>b</sub>)</a></li>
                    </ul>
                </div>
            </div>
        </nav>
		<form action="hybrid:FindChord">
			<input type="hidden" name="conv" value="@Model.conv" />
			<input type="hidden" name="strict" value="@(Model.Strict ? "true": "false")" />
			<div class="text-center" style="margin-top:20px;">
			@for(var i = 0; i < Model.AllNotes[Model.conv].Length; i++)
			{
				var note = Regex.Replace(Model.AllNotes[Model.conv][i].ToString(), "<.*?>", string.Empty);
                if (i % 5 == 0)
                {
                    @(new HtmlString("\t\t\t\t\t<div style=\"padding-bottom:5px;\">\n"))
                }
				if (Model.SelectedNotes != null && Model.SelectedNotes.Contains(note))
				{
                    <input type="checkbox" name="note" value="@note" checked="checked" data-toggle="toggle" data-on="@(Model.AllNotes[Model.conv][i])" data-off="@(Model.AllNotes[Model.conv][i])" data-width="100px;" style="display:none;" />
				}
				else
				{
                    <input type="checkbox" name="note" value="@note" data-toggle="toggle" data-on="@(Model.AllNotes[Model.conv][i])" data-off="@(Model.AllNotes[Model.conv][i])" data-width="100px;" style="display:none;" />
				}
                <span></span>
				if (i % 5 == 4)
				{					
				    @(new HtmlString("\t\t\t\t\t</div>\n"))
				}
			}
            </div>
			<div style="margin-top:20px;">
				<button type="button" class="btn btn-default btn-lg" style="width:100%; display: none;" onclick="$('form').submit();">Find</button>
			</div>
		</form>
		<div class="error">@Model.Error</div>
        <script type="text/javascript">
			$(document).ready(function(){
				$("input,button").show();
			});
        </script>
		<!-- Main content end -->
            
    </div>
    <hr />
    <footer>
        <p>&copy; 2017 - Tomáš Němec</p>
    </footer>
</body>
</html>
